#pane{
    -fx-background-image: url("bg_new.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 800 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}